extends layout.pug

block content
    if success
            p.success Note is created!
    .personal-info
        h1 USER INFORMATION
        .sub-item
            h2 Name
            p #{account.Name}
        .sub-item
            h2 Surname
            p #{account.Surname}
        .sub-item
            h2 Email
            p #{account.Email}
        .sub-item
            h2 Date of registration
            p #{account.RegisterDate}
        .sub-item 
            h2 Desired limit of expenduture per month
            p $ #{account.Limit}
        a.update(href='account/update') Update an information