extends layout.pug

block content 
    .home-page
        h1 Hello #{account.Name}! Have you added all your expenditures/incomes?
        h2
            | Your current Balance: $#{balance.Balance}
        .options
            a(href='/expenditures/new_expenditure')#new-expense Add a new expenditure
            a(href='/incomes/new_income')#new-income Add a new income
        .last-expenditure
            h2 Last added Expenditure
            if expenditures.length
                .wrapper
                    h2 #{lastExpenditure.Category}
                    div
                        .expenditure-info
                            div
                                p Created Date: #{lastExpenditure.RegisterDate}
                                p Amount: $#{lastExpenditure.Amount}
                                p Details: #{lastExpenditure.Details}
                            div
                                i.fa-solid(class=`fa-${lastExpenditure.Icon}`)
                        .info-controllers
                            a(href=`/expenditures`).info-delete delete the expenditure
                            a(href=`/expenditures`).info-update update the expenditure
            else 
                p.empty No added expenditures
        .last-income
            h2 Last added Income
            if incomes.length
                .wrapper
                    h2 #{lastIncome.Category}
                    div
                        .income-info
                            div
                                p Created Date: #{lastIncome.RegisterDate}
                                p Amount: $#{lastIncome.Amount}
                                p Details: #{lastIncome.Details}
                            div
                                i.fa-solid(class=`fa-${lastIncome.Icon}`)
                        .info-controllers
                            a(href=`/incomes`).info-delete delete the expenditure
                            a(href=`/incomes`).info-update update the expenditure
            else
                p.empty No added incomes
        
        .week-graph
            h2 Report for the last week expenditures
            canvas#cookieChart(width='100%' ,='' height='40rem')
            div.value-hidden
                input#days(name = "days",type= "hidden", value=`${last7Days}`)
                input#amount(name="amount",type= "hidden", value = `${totalAmounts}`)
    script(src='/static/javascripts/graph.js')
