extends layout.pug 

block content 
    div.new-income-form
        h1 Add a new 
        h1#id #{id}
        form#form.form(action=`/incomes/${id}/update`, method="POST")
            label Category
            span#category-error
            if categories
                select#category.input(name = "category")
                    each category in categories
                        if category.title === `${incomes.Category}`
                            option.input(value=category.value, selected="selected")= category.title
                        else
                            option.input(value=category.value)= category.title
            
            label Amount($)
            span#amount-error
            input#amount.input(type="number", name ="amount", step = 0.01, value = `${incomes.Amount}`)

            label Details
            textarea#details.input(name="details", cols="30", rows="10") #{incomes.Details}

            button.input Submit  
    script(src="/static/javascripts/updateincome.js" defer) 